@import url('https://fonts.googleapis.com/css2?family=Ubuntu&display=swap');
* {
    font-family: 'Ubuntu', sans-serif;
    padding: 0;
    margin: 0;
}

table {
    text-align: center;
    border-collapse: collapse;
    box-shadow: 10px 10px 20px gray;
    margin: 50px auto 0;
}

table,
th,
td {
    border: 1px solid rgb(153, 153, 153);
    padding: 8px 12px;
}

th,
.white-font {
    background-color: #628ca6;
    color: white;
}

thead th,
tfoot td {
    color: black;
    background-color: #7fb9c2;
}

thead th {
    font-size: 1.5rem;
}

tr:nth-child(even) {
    background-color: #e7f0ed;
}

tr {
    background: #e7ffed;
}

tfoot {
    font-size: .8rem;
}